

/*
   ? Copyright 2019, Mahabbat Mammadov
   ! https://github.com/themahabbat
   ! https://codepen.io/mahabbat
*/


/*
   ? VARIABLES
*/
:root {
  --gr-level-1: linear-gradient(to right, #fc5c7d, #6a82fb);
  --gr-level-2: #1cb5e0;
  --gr-level-3: #1d976c;
  --gr-level-4: #dce35b;
  --gr-level-5: linear-gradient(to right, #11998e, #38ef7d);
  --gr-level-6: #6a82fb;
  --gr-level-7: linear-gradient(to right, #03001e, #7303c0, #ec38bc, #fdeff9);
  --gr-level-8: linear-gradient(to bottom, #22c1c3, #fdbb2d);
  --gr-level-9: linear-gradient(to left, #396afc, #2948ff);
  --gr-level-10: linear-gradient(to left, #642b73, #c6426e);
  --gr-level-11: linear-gradient(to left, #159957, #155799);
  --gr-level-12: linear-gradient(to right, #16222a, #3a6073);

  --max-width: 270px;
  --line-height: 2px;

  --indent-start-pixel: 25;
  --animation-delay: 0.5s;
  --border-radius: 0px;
  --last-border-radius: 2px;
}

/*
   ? HOVER ANIMATION
*/
@keyframes line {
  0% {
    width: 0;
    height: 100%;
    bottom: 0;
  }

  50% {
    width: var(--max-width);
    height: 100%;
    opacity: 0.7;
    bottom: 0;
  }

  100% {
    border-radius: var(--last-border-radius);
    width: var(--max-width);
    opacity: 0.3;
    height: 100%;
    bottom: 0;
    transform: scale(1.15);
  }
}


.monaco-tree-wrapper,
.tabs-container,
.part.titlebar,
.menubar-menu-title,
.actions-container {
  /* font-family: "Space Mono" !important; */
  font-family: "Operator Mono" !important;
}


.tabs-container .tab.active {
  border-right: 1px solid #FFD70C !important;
}

.actions-container li {
  cursor: pointer !important;
}

/*
   ? TEXT INDENTATION
*/
.monaco-tree-row[aria-level="1"] {
  text-indent: 5px !important;
}
.monaco-tree-row[aria-level="2"] {
  text-indent: 25px !important;
}
.monaco-tree-row[aria-level="3"] {
  text-indent: 55px !important;
}
.monaco-tree-row[aria-level="4"] {
  text-indent: 85px !important;
}
.monaco-tree-row[aria-level="5"] {
  text-indent: 115px !important;
}
.monaco-tree-row[aria-level="6"] {
  text-indent: 145px !important;
}
.monaco-tree-row[aria-level="7"] {
  text-indent: 175px !important;
}
.monaco-tree-row[aria-level="8"] {
  text-indent: 205px !important;
}

/*
   ? ROW PROPERTIES
*/
/* .monaco-tree-row {
   height: 24px !important;
   padding: 0px 12px !important;
} */

/*
   ? DEFINING SIMPLE LINE
*/
.monaco-tree-row[aria-level="1"] > .content > div > div::before,
.monaco-tree-row[aria-level="2"] > .content > div > div::before,
.monaco-tree-row[aria-level="3"] > .content > div > div::before,
.monaco-tree-row[aria-level="4"] > .content > div > div::before,
.monaco-tree-row[aria-level="5"] > .content > div > div::before,
.monaco-tree-row[aria-level="6"] > .content > div > div::before,
.monaco-tree-row[aria-level="7"] > .content > div > div::before,
.monaco-tree-row[aria-level="8"] > .content > div > div::before {
  content: '' !important;
  width: 1px !important;
  height: 100% !important;
  position: absolute !important;
  border-radius: var(--border-radius) !important;
  opacity: 0.4 !important;
  transition: var(--animation-delay) ease all !important;
}

/*
   ? DEFINING HOVER STATE OF LINE
*/
.monaco-tree-row[aria-level="1"]:hover > .content > div > div::before,
.monaco-tree-row[aria-level="2"]:hover > .content > div > div::before,
.monaco-tree-row[aria-level="3"]:hover > .content > div > div::before,
.monaco-tree-row[aria-level="4"]:hover > .content > div > div::before,
.monaco-tree-row[aria-level="5"]:hover > .content > div > div::before,
.monaco-tree-row[aria-level="6"]:hover > .content > div > div::before,
.monaco-tree-row[aria-level="7"]:hover > .content > div > div::before,
.monaco-tree-row[aria-level="8"]:hover > .content > div > div::before
 {
  opacity: 1 !important;
  transform: scale(1.1) !important;
  bottom: -2px !important;
  color: #080808 !important;
  animation: var(--animation-delay) ease-in line forwards !important;
}

/*
   ? DEFINING BACKGROUND AND POSITION OF LINE
*/
.monaco-tree-row[aria-level="1"] > .content > div > div::before {
  left: 0px !important;
  background: var(--gr-level-1) !important;
}

.monaco-tree-row[aria-level="2"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 0.8px) !important;
  background: var(--gr-level-2) !important;
}

.monaco-tree-row[aria-level="3"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 2px) !important;
  background: var(--gr-level-3) !important;
}

.monaco-tree-row[aria-level="4"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 3px) !important;
  background: var(--gr-level-4) !important;
}

.monaco-tree-row[aria-level="5"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 4px) !important;
  background: var(--gr-level-5) !important;
}

.monaco-tree-row[aria-level="6"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 5px) !important;
  background: var(--gr-level-6) !important;
}

.monaco-tree-row[aria-level="7"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 6px) !important;
  background: var(--gr-level-7) !important;
}

.monaco-tree-row[aria-level="8"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 7px) !important;
  background: var(--gr-level-8) !important;
}

.monaco-tree-row[aria-level="9"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 8px) !important;
  background: var(--gr-level-9) !important;
}

.monaco-tree-row[aria-level="10"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 9px) !important;
  background: var(--gr-level-10) !important;
}

.monaco-tree-row[aria-level="11"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 10px) !important;
  background: var(--gr-level-11) !important;
}

.monaco-tree-row[aria-level="12"] > .content > div > div::before {
  left: calc( var(--indent-start-pixel) * 11px) !important;
  background: var(--gr-level-12) !important;
}

.window-appicon {
  display: none !important;
}
